
.birthday-card {
  width: 90%;
  max-width: 420px;          
height: auto;
  padding: 18px;
  border-radius: 18px;
  margin: 20px auto;
  text-align: center;
 background: #1e2735;
   color: #ffffff;
  box-shadow: 0 3px 12px rgba(255, 255, 255, 0.07);
  transition: 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.05);

  animation: fadeIn 0.5s ease-in-out;

}

.birthday-card:hover{
    transform: translateY(-6px);
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.4);
}


.birthday-img {
  width: 100%;               
  height: auto;             
  object-fit: contain;       
  border-radius: 10px;


  margin-bottom: 12px;
}


/* .birthday-heading {
  font-size: 14px;
  color: #f8990a;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 6px;
} */

/* .birthday-name {
  font-size: 24px;
  font-weight: 700;
  color: #4da3ff;
  margin-top: 5px;
} */

.cake-emojy{
  display: block;
 margin-bottom: -70px;
 font-size: 80px;

 
 
}

.birthday-heading {
  font-size: 60px;
  font-weight: bold;
  font-family: 'Impact', 'Arial Black', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;

  color: black;


  text-shadow:
    0 0 5px #ff9800,
    0 -5px 10px #ff5722,
    0 -10px 20px #ff3d00,
    0 -20px 40px #ff0000;

  animation: flame 1.2s infinite alternate,
             flicker 0.15s infinite;
}


@keyframes flame {
  0% {
    text-shadow:
      0 0 5px #ffb300,
      0 -5px 10px #ff6f00,
      0 -15px 30px #ff3d00,
      0 -25px 50px #d50000;
    transform: translateY(0);
  }
  100% {
    text-shadow:
      0 0 10px #fff176,
      0 -10px 20px #ff9800,
      0 -25px 45px #ff5722,
      0 -40px 80px #ff0000;
    transform: translateY(-2px);
  }
}


@keyframes flicker {
  0% { opacity: 1; }
  50% { opacity: 0.9; }
  100% { opacity: 1; }
}

.birthday-name  {
  font-size: 60px;
  font-weight: 900;
  font-family: 'Impact', 'Arial Black', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  display: block;
  margin-top: -70px;
 
  color:black;

 
  text-shadow:
    0 0 5px #ff9800,
    0 -5px 10px #ff5722,
    0 -10px 20px #ff3d00,
    0 -20px 40px #ff0000;

  animation: flame 1.2s infinite alternate,
             flicker 0.15s infinite;
}

@keyframes flame {
  0% {
    text-shadow:
      0 0 5px #ffb300,
      0 -5px 10px #ff6f00,
      0 -15px 30px #ff3d00,
      0 -25px 50px #d50000;
    transform: translateY(0);
  }
  100% {
    text-shadow:
      0 0 10px #fff176,
      0 -10px 20px #ff9800,
      0 -25px 45px #ff5722,
      0 -40px 80px #ff0000;
    transform: translateY(-2px);
  }
}


@keyframes flicker {
  0% { opacity: 1; }
  50% { opacity: 0.9; }
  100% { opacity: 1; }
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
