
.birthday-card {
  width: 90%;
  max-width: 420px;          

  padding: 18px;
  border-radius: 18px;
  margin: 20px auto;
  text-align: center;
 background: #1e2735;
   color: #ffffff;
  box-shadow: 0 3px 12px rgba(255, 255, 255, 0.07);
  transition: 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.05);

  animation: fadeIn 0.5s ease-in-out;

  display: flex;            
  flex-direction: column;
  align-items: center;
}

.birthday-card:hover{
    transform: translateY(-6px);
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.4);
}


.birthday-img {
  width: 100%;               
  height: auto;             
  object-fit: contain;       
  border-radius: 10px;


  margin-bottom: 12px;
}


.birthday-heading {
  font-size: 14px;
  color: #f8990a;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 6px;
}

.birthday-name {
  font-size: 24px;
  font-weight: 700;
  color: #4da3ff;
  margin-top: 5px;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
