.loader {
  border: 4px solid rgba(255, 255, 255, 0.2);
  border-top: 4px solid #ffffff; 
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
 margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
