.no-bday-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.no-bday-card {
  background: #1e2735;
  padding: 35px;
  width: 90%;
  max-width: 450px;
  border-radius: 18px;
  text-align: center;
  color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  animation: fadein 0.4s ease-in;
}

.no-bday-icon {
  width: 100%;
  height:auto;
  opacity: 0.9;
  margin-bottom: 15px;
}

.no-bday-title {
  font-size: 26px;
  font-weight: 700;
  color: #ffcc00;
  margin-bottom: 10px;
}

.no-bday-text {
  font-size: 17px;
  opacity: 0.8;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
