.notification-popup {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  color: #10ddaa;
  padding: 12px 18px;
  border-radius: 8px;
  min-width: 260px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: slideUp 0.25s ease-out;
  z-index: 9999;
}

.notification-close {
  background: transparent;
  border: none;
  color: rgb(231, 9, 9);
  font-size: 18px;
  cursor: pointer;
  margin-left: 12px;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translate(-50%, 20px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
