.no-up-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 25px 0;
}

.no-up-card {
  background: #1b2230;
  padding: 35px;
  width: 90%;
  max-width:450px;
  border-radius: 18px;
  text-align: center;
  color: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  animation: fadeIn 0.4s ease-in-out;
}

.no-up-icon {
  width: 85px;
  opacity: 0.9;
  margin-bottom: 15px;
}

.no-up-title {
  font-size: 24px;
  font-weight: 700;
  color: #4bdfff;
  margin-bottom: 8px;
}

.no-up-text {
  font-size: 17px;
  opacity: 0.8;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
