
.upcoming-card {
  width: auto;
  max-width: 420px;         
  background: #1e2735;
  padding: 18px;
  border-radius: 18px;
  margin: 20px auto;
  text-align: center;

  box-shadow: 0 3px 12px rgba(255, 255, 255, 0.07);
  transition: 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.05);

  transition: 0.3s ease;
  animation: fadeIn 0.5s ease-in-out;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.upcoming-card:hover{
    transform: translateY(-6px);
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.4);
}


.upcoming-img {
  width: 100%;            
  height: auto;             
  object-fit: contain;
  border-radius: 12px;       
  background: white;
  border: 2px solid #4da3ff;
  margin-bottom: 12px;
}


.upcoming-name {
  font-size: 22px;
  font-weight: 700;
  color: #2281cf;
  margin-bottom: 6px;
}

.upcoming-info {
  font-size: 16px;
  color:white;
  margin: 4px 0;
}

.upcoming-info span {
  font-weight: 700;
  color: white;
}

.upcoming-days {
  margin-top: 12px;
  font-size: 20px;
  color: #ff5722;
  font-weight: bold;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
