.upload-container {
  max-width: 450px;
  margin: auto;
  margin-top: 40px;
  padding: 20px;
  background-color: white;
  border-radius: 14px;

  text-align: center;
}

.upload-label {
  font-size: 18px;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}

.upload-input {
  width: 100%;
  padding: 12px;

  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.upload-preview {
  width: 100%;
  height: 200px;
  border-radius: 12px;
  object-fit: contain;
  margin: 15px 0;
}

.upload-btn {
  width: 100%;
  padding: 12px;
 background-color: blue;
  border: none;
  color: white;
  font-size: 17px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}
