
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield; 
}



/* button{
  padding: 8px 25px;
  font-size: 14px;
  background-color: rgb(16, 191, 197);
  color: aliceblue;
} */



